@model List<CartItemViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Giỏ Hàng</h2>
@if (ViewBag.Message != null)
{
    <div class="text-center">

        <h3>@ViewBag.Message</h3>
        <a href="@Url.Action("Index", "Home")" class="btn btn-info text-center">Đặt Hàng Ngay</a>
    </div>
}
else
{
    <table class="table">
        <tr>
            <td>Sản Phẩm</td>
            <td>Đơn Giá</td>
            <td>Số Lượng</td>
            <td>Hành Động</td>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Model.ElementAt(i).Food.Name</td>
                <td>@Model.ElementAt(i).Food.Price</td>
                <td>
                    <a href="@Url.Action("Decrement", "Cart", new {itemIndex = i})" class="btn">-</a>
                    @Model.ElementAt(i).Quantity
                    <a href="@Url.Action("Increment", "Cart", new {itemIndex = i})" class="btn">+</a>
                </td>
                <td><a href="@Url.Action("RemoveItem", "Cart", new {itemIndex = i})" class="btn btn-outline-danger">Xóa</a></td>
            </tr>
        }
        @if (ViewBag.TotalPrice > 0)
        {
            <tr>
                <td>Total Price: @ViewBag.TotalPrice</td>
                <td></td>
                <td></td>
                <td><a href="@Url.Action("Checkout", "Orders")" class="btn btn-danger">Thanh Toán</a></td>
            </tr>
        }
    </table>
}
