@model Food

<div class="col-md-3">
    <div class="card card-style">
        <a href="@Url.Action("Details", "Foods", new {foodId = Model.Id})">
            <img src="~/assets/images/Ga-Chien-Sot-Ngot-Phomai.jpg" class="img-home" alt="...">
        </a>
        <div class="card-body">
            <a href="@Url.Action("Details", "Foods", new {foodId = Model.Id})"><h4 class="card-title">@Model.Name</h4></a>
            <p class="card-price">@Model.Price.ToString("F0")đ</p>
            <a href="@Url.Action("AddToCart", "Cart", new {foodId = Model.Id})" class="btn btn-outline-danger">ĐẶT HÀNG</a>
        </div>
    </div>
</div>
