<div class="header_section_top">
    <div class="custom_menu">
        <ul>
            <li><a href="@Url.Action("Index", "Manage", new { area = "" })">Trang Cá Nhân</a></li>
            <li><a href="@Url.Action("GetCovidInfo", "CovidInfoes", new { area = "" })">Thông Tin Dịch Tễ</a></li>
            <li><a href="@Url.Action("OrderHistory", "Orders", new { area = "" })">Lịch Sử Đơn Hàng</a></li>
            <li><a href="@Url.Action("ChangePassword", "Manage", new { area = "" })">Thay Đổi Mật Khẩu</a></li>
        </ul>
    </div>
</div>
<p class="text-success" style="text-align: center">@ViewBag.StatusMessage</p>
<p class="text-success" style="text-align: center">@TempData["Message"]</p>