@model Paginated<Order>

@{
    ViewBag.Title = "Quản Lý Đơn Hàng";
}

<h2 class="text-center">Quản Lý Đơn Hàng</h2>
<h4>@TempData["Message"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("NewOrder", "OrderManagement")" class="btn btn-outline-danger">Đơn Hàng Mới</a>
        <a href="@Url.Action("GetShippingOrder", "OrderManagement")" class="btn btn-outline-success">Đơn Hàng Đang Giao</a>
    </div>
    <div class="col-md-6">
        <form action="@Url.Action("Index", "OrderManagement")" method="get" class="float-right">
            <div class="form-group mx-md-3 mb-2">
                <input type="text" class="form-control mr-3" id="inputSearch" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Input....">
                <button type="submit" class="btn">
                    <i class="fas fa-search"></i>
                </button>
                <a href="@Url.Action("Index")" class="btn btn-default">
                    <i class="fas fa-redo"></i>
                </a>
            </div>
        </form>
    </div>
</div>

@if (!Model.Any())
{
    <h3 class="text-center">Không tìm thấy đơn hàng nào.</h3>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr class="d-flex center-title">
            <th class="col-md-2">
                ID
            </th>
            <th class="col-md-4">
                Địa Chỉ
            </th>
            <th class="col-md-2">
                Ngày Đặt
            </th>
            <th class="col-md-2">
                Trạng Thái
            </th>
            <th class="col-md-2">Quản Lý</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="d-flex center-title">
                <td class="col-md-2">
                    <a href="@Url.Action("Edit", new { id = item.Id})">
                        @item.Id
                    </a>
                </td>
                <td class="col-md-4">
                    @item.OrderAddress
                </td>
                <td class="col-md-2">
                    @item.OrderDate
                </td>
                <td class="col-md-2">
                    @(item.Status == 0 ? "Mới" : item.Status == 1 ? "Đang Giao" : item.Status == 2 ? "Hoàn Thành": "Hủy Đơn")
                </td>
                <td class="col-md-2">
                    <a href="@Url.Action("Edit", "OrderManagement", new { id = item.Id })" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                ViewBag.PageRange = 3;
            }
            <li class="page-item">
                <a href="@Url.Action("Index", "OrderManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=1, currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @prevDisabled"><<</a>
            <li class="page-item">
                <a href="@Url.Action("Index", "OrderManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.PageIndex - 1 <= 0 ? 1 : Model.PageIndex - 1), currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @prevDisabled"><</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i >= Model.PageIndex - ViewBag.PageRange && i <= Model.PageIndex + ViewBag.PageRange)
                {
                    <li class="page-item">
                        <a class="@(i==Model.PageIndex ? "Current" : "") page-link"
                           href="@Url.Action("Index", "OrderManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=i, currentFilter=ViewData["CurrentFilter"] })">@i</a>
                    </li>
                }
            }
            <li class="page-item">
                <a href="@Url.Action("Index", "OrderManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.PageIndex + 1 > Model.TotalPages ? Model.TotalPages : Model.PageIndex + 1), currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @nextDisabled">></a>
            <li class="page-item">
                <a href="@Url.Action("Index", "OrderManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.TotalPages), currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @nextDisabled">>></a>
        </ul>
    </nav>
}