@model FoodViewModel

@{
    ViewBag.Title = "Sửa";
}

<h2>Sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal row">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên Thực Phẩm" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mô Tả" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6 mt-3">
            @Html.HiddenFor(model => model.Image)
            <img src="~/assets/images/@Model.Image"class="img-home" alt="">
            <input type="file" class="form-control" name="uploadImage" />
        </div>

        <div class="form-group col-md-6 mt-3">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Giá" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-5 mt-3">
            Danh Mục
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "select-single", style = "width: 100%",  })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-button mt-4">
            <input type="submit" name="signup" id="signup" class="btn btn-success" value="Sửa" />
            @Html.ActionLink("Trở Về", "Index", null, new { @class = "btn btn-light ml-2" })
        </div>
    </div>
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}