@model ChangePasswordViewModel
@{
    ViewBag.Title = "Thay Đổi Mật Khẩu";
}
@Html.Partial("_HeaderProfile")
<section class="signup">
    <div class="signup-content">
        <div class="signup-form">
            <h2>Thay Đổi Mật Khẩu</h2>
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Mật khẩu hiện tại" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Mật khẩu mới" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu mới" })
                </div>
                <div class="form-group form-button">
                    <input type="submit" class="form-submit" value="Thay đổi mật khẩu" />
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
